.logo {
    display: inline-flex;
    max-width: 500px;
    align-items: center;
    margin-top: 30px;
}
  
.logo img {
    margin-right: 25px;
    border-radius: 10px;
}
  
.logo a {
    text-decoration: none;
    color: #666666;
    font-size: 22px;
    font-weight: bold;
}
  
.logo-link {
    float: right;
    text-decoration: none;
    margin: 50px 10px 0 0;
}

.navigation {
    display: flex;
    width: 100%;
    background-color: var(--white_color);
    border-radius: 9px;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    width: 700px;
    justify-content: space-around;
}

.navigation-item__list{
    color: var(--grey_3_color);
    padding: 10px;
    transition: .4s;
}

.navigation-item__list:hover{
    background-color: var(--grey_f1_color);
    border-radius: 9px;
}

.navigation-form {
    margin-right: 20px;
    position: relative;
}

.navigation-form__input{
    width: 350px;
    height: 45px;
    background-color: var(--grey_f1_color);
    border: 1px solid var(--grey_f1_color);
    border-radius: 15px;
    padding-left: 22px;
    outline: none;
}

.navigation-form__button {
    background-image: url(..//img/search.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 25px;
    top: 12px;
    padding: 10px;
    border: none;
    cursor: pointer;
}