.reserv-special-container{
    display: flex;
}

.inform-container {
    display: flex;
    align-items: center;
}

.d-if {
    display: inline-flex;
}

.fa-angle-right {
    padding-left: 8px;
}

/*БЫСТРАЯ БРОНЬ*/

.reserv-container {
    float: left;
    width: 50%;
    margin-top: 70px;
}

.title {
    font-size: 40px;
    font-weight: lighter;
    color: var(--grey_3_color);
    padding-left: 30px;
    padding-bottom: 20px;
}

.reserv-form{
    display: flex;
    flex-direction: column;
}

.reserv-form__input{
    width: 520px;
    padding: 25px;
    border: 1px solid var(--grey_f1_color);
    border-radius: 10px;
    color: var(--grey_9_color);
    margin-bottom: 25px;
    outline: none;
}

.reserv-form__button {
    background-color: var(--orange_color);
    width: 160px;
    height: 60px;
    color: var(--white_color);
    border: 1px solid var(--orange_color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition-property: background-color, border;
    transition: .3s ease-in-out;
}

.reserv-form__button:hover {
    background-color: var(--grey_3_color);
    border: 1px solid var(--grey_3_color);
}

.reserv-container__parag {
    display: inline-block;
    margin-left: 30px;
}

.link {
    color: var(--orange_color);
    margin-right: 5px;
}

/*СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ*/

.special-container {
    width: 50%;
    margin-top: 70px;
    position: relative;
}

.special-container img {
    width: 595px;
    height: 535px;
    border-radius: 10px;
}

.img-container {
    position: absolute;
    bottom: 60px;
    left: 40px;
}

.img-container__title {
    max-width: 320px;
    color: var(--white_color);
    font-size: 66px;
    font-family: MullerBold;
    line-height: 1;
    padding-bottom: 20px;
}

.img-container__price {
    font-size: 35px;
    color: var(--white_color);
    opacity: 0.5;
    margin-right: 40px;
}


/*О НАС*/

.about-us {
    width: 880px;
    margin-top: 70px;
}

.about-us__parag {
    color: var(--grey_6_color);
    line-height: 1.5;
    padding-left: 40px;
}

/*УСЛУГИ*/

.services {
    margin-top: 65px;
    width: 100%;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
}

.servises-item{
    max-width: 570px;
    border: 1px solid var(--grey_f1_color);
}

.servises-item:nth-child(odd) {
    margin-right: 30px;
}

.servises-item:nth-child(n+3) {
    margin-top: 25px;
}

.servises-item img{
    border-radius: 12px 12px 0 0;
}

.services-block {
    background-color: var(--white_color);
    padding: 35px 100px 40px 45px;
    margin-top: -5px;
    border-radius: 0 0 12px 12px;
    position: relative;
}

.services-block__link {
    color: var(--orange_color);
    font-size: 22px;
    font-weight: normal;
}

.services-block__text {
    margin-top: 15px;
    line-height: 1.5;
}

/*ПРЕИМУЩЕСТВА*/
.advantages {
    margin-top: 70px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 276px;
    height: 276px;
    background-color: var(--white_color);
    border: 1px solid var(--white_color);
    border-radius: 10px;
    padding: 40px;
    margin-right: 22px;
}

.advantages-item:nth-child(4n) {
    margin-right: 0;
}

.advantages-item:nth-child(-n+4) {
    margin-bottom: 20px;
}

.advantages-item__text{
    margin-top: 20px;
    line-height: 1.5;
    font-weight: normal;
    font-size: 16px;
}

/*РАЗМЕЩЕНИЕ*/
.accommodation{
    margin-top: 70px;
}

.accommodation-list{
    display: flex;
    flex-wrap: wrap;
}

.accommodation-item{
    width: 374px;
    max-height: 442px;
    margin-bottom: 20px;
    margin-right: 24px;
}

.accommodation-item:nth-child(3n) {
    margin-right: 0;
}

.accommodation-item__img{
    border-radius: 12px 12px 0 0;
}

.accommodation-block{
    background-color: var(--white_color);
    margin-top: -5px;
    border-radius: 0 0 10px 10px;
    padding-left: 40px;
    padding-bottom: 40px;
    position: relative;
}

.accommodation-block-stars {
    position: absolute;
    top: 42px;
    right: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.accommodation-block__price{
    padding-top: 36px;
    font-weight: normal;
    margin: 0;
}

.accomodation-block__bold{
    font-size: 20px;
}

.accommodation-block__name{
    margin: 10px 0 10px 0;
}

.accommodation-block__country{
    color: #969696;
}

.accommodation-block__button{
    width: 100px;
    color: var(--orange_color);
    border: 1px solid var(--orange_color);
    border-radius: 10px;
    background-color: var(--white_color);
    padding: 10px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    transition-property: color, background-color, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.accommodation-block__button:hover {
    color: var(--white_color);
    background-color: var(--orange_color);
    transform: scale(1.05);
}

/*ВСЕ ВАРИАНТЫ*/
.accommodation-item__position {
    border-radius: 12px;
    background-image: url(..//img/img_options.jpeg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.accommodation-item__position-link {
    display: inline-block;
    margin-left: 40px;
    margin-top: 310px;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

.accommodation-item__position-link::before {
    content: '';
    position: absolute;
    background-color: rgba(241, 241, 241, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.accommodation-item__position:hover {
    opacity: 0.9;
}


/*контакты*/

.contacts{
    margin-top: 70px;
}
.contacts-list{
    width: 475px;
    background-color: var(--white_color);
    border-radius: 10px;
    padding: 50px 55px 45px 45px;
}

.contacts-item{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 2px solid var(--grey_f1_color);
    align-items: baseline;
}

.contacts-item:first-child {
    padding-top: 0;
}

.contacts-item:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.contacts-mobile-block{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    line-height: 1.5;
    margin-right: 68px;
}

.contacts-email-block {
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    padding-left: 2px;
    line-height: 1.5;
}

.contacts-item__span{
    font-weight: bold;
    color: var(--grey_6_olor);
    font-size: 22px;
}

.contacts-item__time{
    margin-right: 42px;
}

.contacts-item__button{
    width: 200px;
    padding: 20px;
    color: var(--orange_color);
    background-color: var(--white_color);
    border: 1px solid var(--orange_color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    transition-property: color, background-color, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

.contacts-item__button:hover {
    color: var(--white_color);
    background-color: var(--orange_color);
    transform: scale(1.1);
}

/*НАПИШИТЕ НАМ*/

.write {
    margin-top: 150px;
    margin-left: 170px;
}

.write .title{
    margin-bottom: 10px;
}

.write-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-form__input{
    width: 340px;
    padding: 20px;
    outline: none;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--white_color);
}

.write-form__textarea{
    width: 340px;
    height: 110px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--white_color);
    resize: none;
    margin-bottom: 20px;
    outline: none;
}

.write-form__button{
    width: 340px;
    padding: 20px;
    text-align: center;
    color: var(--white_color);
    background-color: var(--orange_color);
    border: 1px solid var(--orange_color);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition-property: background-color, border;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.write-form__button:hover {
    background-color: var(--grey_3_color);
    border: 1px solid var(--grey_3_color);
}