@import "normalize.css";
@import "fonts.css";

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--grey_f1_color);
  font-family: 'Muller';
  color: black;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fixed-container {
  max-width: 1170px;
  margin: 0 auto;
}

:root {
  --white_color: #ffffff;
  --orange_color: #cc9933;
  --grey_9_color: #999999;
  --grey_6_color: #666666;
  --grey_3_color: #333333;
  --grey_f1_color: #F1F1F1;
}

.active_link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: .3s;
  -webkit-transition: .3s;
  padding-bottom: 2px;
}

.active_link:hover {
  background-size: 100% 2px;
  color: var(--orange_color: #cc9933;)
}
